.body{
	margin: 0;
}
.wrapper{
	margin: auto;
	width: 81%;
}
.logo, .menu{
	display: inline-block;
}
.logo{
  position: relative;
  padding: 33px 0 40px 44px;
  padding-left: 44px;
  font: bold 24px/32px 'PT Serif', arial, helvetica, sans-serif;
}
.logo__circle {
  position: absolute;
  left: 0;
      top: 45%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
}
.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}
.logo__circle_color_dark-blue {
  background: #0056ec;
}
.menu{
	display: flex;
	align-items: center;
}
.menu__item_active::after{
	display: block;
	content: '';
	width: 100%;
	height: 3px;
	background: #0056EC;
  position: absolute;
}
.menu__item{
  position: relative;
  margin-right: 26px;
  font: 700 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
	transition: opacity 0.5s;
}
.menu__item::after {
	 position: absolute;
	 left: 0;
	 display: block;
	 content: '';
	 width: 100%;
	 height: 3px;
	 background: #0056EC;
	 opacity: 0;
	 transition: opacity 0.5s;
}
.menu__item:hover:after {
	 position: absolute;
	 left: 0;
	 display: block;
	 content: '';
	 width: 0;
	 height: 3px;
	 background: #0056EC;
	 opacity: 0;
	transition: opacity 0.5s, width 0.5s;
}
.menu__item:hover:after, menu__item_active::after{
	opacity: 1;
	width: 100%;
}
.menu__item:hover{  // когда наводим курсор на ссылку
	opacity: 0.5;
}
.menu__item:last-child{
	margin-right: 0;
}
.menu__box{
	display: none;
}
.hamburger-menu{
	display: none;
}
.header{
	display: flex;
	padding: 0px 11px 87px 6px;
	justify-content: space-between;
}
.main{
	padding: 112px 63% 160px 3px;
  background: top 2vw right no-repeat url(img/mainimg1920.svg);
}
.main__title-text_highlight {
 background: #ECF3FF;
}
.main__title {
  margin: 0 0 40px 0;
  font: bold 66px/65px 'PT Serif', arial, helvetica, sans-serif;
  line-height: 4.5vw;
}
.main__discription {
  margin: 0 0 41px 0;
    font: 22px/21px Roboto, arial, helvetica, sans-serif;
    margin-block-start: 1.1vw
}
.main__button:hover {

	animation: blik 5s infinite ease-in-out;
}
.main__button {
  display: inline-block;
  font: 20px/30px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 4px;


 }
@keyframes blik{
		0% {
			border: solid 5px #7FC7FF;
	 opacity: 0.2;
 }
 25%{
			border: solid 5px #7FC7FF;
	 opacity: 0.5;
 }
 50% {
			border: solid 5px #7FC7FF;
	 opacity: 0.75;
 }
 75%{
			border: solid 5px #7FC7FF;
	 opacity: 0.5;
 }
 100% {
				border: solid 5px #7FC7FF;
	 opacity: 0.2;
	}

	}
@media (max-width: 1920px) {
	.main__title {
	  margin: 2px 3px 40px 3px;
	}
	.main__button {
	  padding: 14px 28px;
	  font: 18px/31px Roboto, arial, helvetica, sans-serif;
	}
	.main__discription {
	      margin: 41px 117px 42px 3px;
		line-height: 1.3vw;
	}
	.hamburger-menu {
  display: none;
  }
	.header {
    padding: 0px 15px 87px 6px;
  }
}
@media (max-width:1560px) {
	.header{
		    padding: 0px 78px 82px 6px;
	}
	.main__title {
	    margin: 0px 2px 40px 3px;
			font: bold 58px/70px 'PT Serif', arial, helvetica, sans-serif;
    line-height: 6vw;
	}
	.main__discription {
    margin: 39px 47px 42px 3px;
    line-height: 1.6vw;
		font: 21px/21px Roboto, arial, helvetica, sans-serif;
	}
	.main{
		padding: 83px 59% 156px 3px;
	background-size: 66% 77%;
	background-position: right;
	}
}

@media (max-width: 1367px) {
	.wrapper{
		width: 80%;
	}
	.main {
		padding: 35px 48% 81px 0px;
     background: top 1vw left 36vw no-repeat url(img/mainimg.svg);
	}
	.header{
	    padding: 0 80px 60px 0;
		}
	.main__title {
		margin: 0 68px 46px 75px;
    font: bold 51px/65px 'PT Serif', arial, helvetica, sans-serif;
    line-height: 4.7vw;
	}
	.main__button {
	  font: 14px/16px Roboto, arial, helvetica, sans-serif;
		padding: 13px 19px;
		margin: -2px 1px 0 75px;
	}
	.main__discription {
	  margin: 0 90px 42px 75px;
	  font: 18px/21px Roboto, arial, helvetica, sans-serif;
	  margin-block-start: 1.1vw;
	}
	.menu__item {
	  position: relative;
	  margin-right: 29px;
	  font: 600 13px/21px Roboto, arial, helvetica, sans-serif;
	}
	.logo {
	 margin: 0 0 5px 76px;
	 padding: 33px 0 40px 44px;
	}
	.hamburger-menu {
	  display: none;
	  }
		.logo__circle{
			top: 44%;
		}
}
@media (max-Width:1250px) {
	.wrapper {
	    width: 87%;
	}
	.main {
		padding: 35px 46% 81px 0px;
background: top 1vw left 41vw no-repeat url(img/mainimg.svg);
	}
	.main__title {

	    font: bold 50px/65px 'PT Serif', arial, helvetica, sans-serif;
	    line-height: 5.7vw;
	}
}

@media (max-width: 1024px) {
	.wrapper{
		width: 96%;
	}
	.menu__item {
	    margin-right: 26px;
	}

	.header{
    padding: 0px 18px 40px 0px;
	}
	.logo__circle {
	  margin: -3px -57px;
	}
	.logo__text {
		margin: 1px -56px;
		padding: 2px 0px 0 0;
	}
	.menu__item {
	  font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
	  padding: 0 0 0 0;
	  white-space: nowrap;
	}
	.logo {
		padding-top: 29px;
	    margin: 0 0 5px 74px;


	}
	.main {
		padding: 62px 56% 70px 8px;

		background: top 3.5vw left 42.4vw no-repeat url(img/mainimg.svg);
	}
	.main__title {
	    margin: -9px 0 38px 8px;
	  font: bold 50px/66.25px 'PT Serif', arial, helvetica, sans-serif;
	  line-height: 6.5vw;
	}
	.main__discription {
    margin: 0 62px 41px 9px;
	  font: 18px/21px Roboto, arial, helvetica, sans-serif;
	}
	.main__button {
	  display: inline-block;
	  font: 14px/16px Roboto, arial, helvetica, sans-serif;
	  padding: 14px 22px;
		margin: 0 0 0 7px;
	}
	.hamburger-menu {
	  display: none;
	  }
}


@media (max-width: 987px){
	.main {
	  background-size: 49vw 42vw;
		}
	.main__title{
		font: bold 48px/66.25px 'PT Serif', arial, helvetica, sans-serif;
		line-height: 7vw;
		}
}

@media (max-width: 870px) {
	.main {
	    padding: 44px 52% 49px 8px;

	}
	.main__title {
    font: bold 44px/55.25px 'PT Serif', arial, helvetica, sans-serif;
    line-height: 7.5vw;
		margin: -10px 0 32px 8px;
}
	.main__discription {
    font: 16px/19px Roboto, arial, helvetica, sans-serif;
}
}

@media (max-width: 777px) {
  .wrapper {
      width: 106%;
  }

  .header {
    margin: 0 0 0 20px;
		padding: 0px 52px 40px 0px;
  }

  .menu__item {
    padding: 0px 3.8px;
  }

  .main {
		padding: 10px 53% 57px 0;
    background-size: 52vw 47vw;
    background-position: 90% 30%;
	}

  .main__title {
		margin: 43px 0 35px 25px;
		    font: bold 43px/50px 'PT Serif', arial, helvetica, sans-serif;
		    line-height: 7.9vw;
  }

  .main__discription {
		margin: 0 0 36px 25px;
    padding: 0 1px;
    font: 16px/21px Roboto, arial, helvetica, sans-serif;
    margin-block-start: 1.1vw;
  }

  .main__button {
    margin: 0 0 55px 25px;
  }
}
@media (max-width:680px) {
	.main__title{
		margin: 43px 0 35px 25px;
	font: bold 38px/50px 'PT Serif', arial, helvetica, sans-serif;
	line-height: 8.5vw;
}
.main__discription {

    font: 15px/21px Roboto, arial, helvetica, sans-serif;
}
.menu__item {
    margin-right: 15px;
}
.header{
	padding: 0px 35px 22px 0px;
}
}
@media (max-width: 575px) {
 .menu__btn {
	 display: flex;
    align-items: center;
    position: absolute;
    top: 32px;
		right: 23px;
    left: auto;
    width: 25px;
    height: 17px;
    cursor: pointer;
    z-index: 1;
 }

 .menu__btn > span,
 .menu__btn > span::before,
 .menu__btn > span::after {
	 display: block;
	 position: relative;
	 float: right;
	 width: 100%;
	 height: 3px;
	 background-color: #0056EC;;
	 transition-duration: 0.25s;
 }

 .menu__btn > span::before {

	 content: '';
	     top: -7px;
 }

 .menu__btn > span::after {
	 content: '';
     top: 5px;
 }
 .hamburger-menu {
     display: block;
 }
 .menu__box {
	 display: block;
	 position: fixed;
	 visibility: hidden;
	 top: 0;
	 left: -100%;
	 width: 300px;
	 height: 100%;
	 margin: 0;
	 padding: 80px 0;
	 list-style: none;

	 background-color: #0056EC;;
	 box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
	 transition-duration: 0.25s;
 }

 .menu__box_item {
	 display: block;
	 padding: 14px 25px;

     color: #333;
     font: 700 30px/33px Roboto, arial, helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.25s;
 }

 .menu__box_item:hover {
	 background-color: #cfd8dc;
 }

 #menu__toggle {
	 opacity: 0;
 }

 #menu__toggle:checked ~ .menu__btn > span {
	 transform: rotate(45deg);
 }

 #menu__toggle:checked ~ .menu__btn > span::before {
	 top: 0;
	 transform: rotate(0);
 }

 #menu__toggle:checked ~ .menu__btn > span::after {
	 top: 0;
	 transform: rotate(90deg);
 }

 #menu__toggle:checked ~ .menu__box {
	 visibility: visible;
	 left: 0;
 }

 .wrapper {
	 width: 87%;
 }

 .logo {
	 margin-top: -2vw;
 }

 .menu {
	 display: none;
 }

 .header {
	 margin: 0 1px;
	     padding: 0px 6px 8px 0px;
	 }

 .main {
	 text-align: center;
	     padding: 79% 0px 0px;
	     background-size: 78%;
	     background-position: 26px 0, center;
 }

 .main__title {
	 margin-bottom: 35px;
    font: bold 34px/40px 'PT Serif', arial, helvetica, sans-serif;
    line-height: 10.5vw;
    margin: 21px auto 15px auto;
    text-align: center;
	}

	.main__discription {
		margin: 14px auto 28px auto;
    font: 17px/19px Roboto, arial, helvetica, sans-serif;
    margin-block-start: 1.1vw;
 }

 .main__button {
	 letter-spacing: 0.7px;
padding: 14px 24px;
    margin: 0 auto;
font: 500 12px/16px Roboto, arial, helvetica, sans-serif;
}
}
 @media (max-width: 376px) {
	.wrapper{
		 width: 80%;
	 }

	 .logo__text{
		 display: none;
	 }
	.logo{
    margin: 28px 0 0 -5px;
		padding: 0 0;
	}

	.logo__circle {
		width: 30px;
		    height: 30px;
		    margin: 1px -19px;
	}

	.logo__circle_color_blue {
		left: 11px;
     top: 8px;
	}

	.main__title {
		margin: 50px 0 33px 5px;

    font: bold 30px/40px 'PT Serif', arial, helvetica, sans-serif;
		}

	.main__discription {
		margin: 0 0px 25px 7px;
	    font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
	}

	.main__button{
		margin: 0 0 0;
		padding: 13px 18px;
		    margin-right: 0px;
		    font: 502 13px/19px Roboto, arial, helvetica, sans-serif;
		    margin-left: 1vw;
	}

	.menu__box {
		display: block;
 	 position: absolute;
 	 visibility: hidden;
 	 top: 0;
 	 left: -100%;
 	 width: 375px;
 	 height: 100%;
 	 margin: 0;
 	 padding: 171px 0;
 	 list-style: none;
 	 background-color: #eceff1;
 	 box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
 	 transition-duration: 0.25s;
}
	.main {
		padding: 88% 14px 0 14px;
    background: top 11vw right 0vw no-repeat url(img/mainimgmob.svg);
	}
 }
